SESSION_SECRET = 'organize-bold-tax-substitute'
DB_NAME='users_db'
DB_USER='root'
DB_PASSWORD=''
PORT='3001'
AWS_BUCKET_NAME="pending-project-bcs"
AWS_BUCKET_REGION="us-east-2"
AWS_ACCESS_KEY=""
AWS_SECRET_KEY=""