<div class="forms">
    <!-- login form -->
    <form action="" method="post" class="column-1 login-form">
      <p class="formTitle">Current User:</p>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" id="username" placeholder="Enter Username" name="uname" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="password" placeholder="Enter Password" name="psw" required>

        <button type="submit">Login</button>
      </div>
    </form>
    <!-- Registration form -->
    <form action="" method="post" class="column-2">
      <p class="formTitle">New User:</p>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" id="newUsername" placeholder="Enter Username" name="uname" required>
        <label for="email"><b>Email</b></label>
        <input type="text" id="newEmail" placeholder="Enter email" name="email" required>
        <label for="psw"><b>Password</b></label>
        <input type="password" id="newPassword" placeholder="Enter Password" name="psw" required>

        <button type="submit">Register</button>
      </div>
    </form>
  </div>

<script src="./js/login.js"></script>
