<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>
    <div class="row mt-4">
        <div class="col-md-6">     
          <form class="new-upload-form">
            <div class="new-upload">
                <label for="upload-form" class="new-upload">New Post</label>
            </div>
            <div class="form-group">
              <label for="upload-name">Title:</label>
              <input class="form-input" type="text" id="upload-name" name="upload-name" />
            </div>
            <div class="form-group">
                <label for="upload-desc">Description:</label>
                <input class="form-input" type="text" id="upload-desc" name="upload-desc" />
              </div>
              <div class="form-group">
                <label for="file-upload">File Upload:</label>
                <input class="form-input" type="file" id="file-upload" name="file-upload" />
              </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>

    <!-- My recent posts -->
      <div class="upload-list">

      </div>


  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
