<div>
  <input type='file' id='fileUpload' name='image' />
</div>
<div>
  <button id='uploadBTN'>Submit</button>
</div>
<footer><script src='./js/upload.js'></script></footer>
{{! <progress max=”100” value=”0”></progress> }}